.header {
  background: white;
  padding: 15px 20px;
  margin: 15px auto;
  max-width: 90%;
  justify-self: center;
  border-radius: 50px;
}

.navLink a {
  color: #333;
  transition: color 0.3s ease;
}

.navLink a:hover {
  color: var(--color);
}

.navLink button {
  color: #333;
  transition: color 0.3s ease;
}

.navLink button:hover {
  color: var(--color);
}

.button {
  background-color: var(--b-color);
  color: #fff;
  transition: all 0.3s ease;
}
